version: '3.4'

services:
  movievotingcoresql:
    image: movievotingcoresql
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
  db:
    image: "microsoft/mssql-server-linux"
        environment:
            SA_PASSWORD: "P@SSW0RD123"
            ACCEPT_EULA: "Y"
